main {
  padding: 2rem;
  height: 70vh;
}
.container {
  display: flex;
  border: 2px solid red;
  width: 80%;
  padding: 2rem;
  background: linear-gradient(to right, white, black);
}
.card {
  display: flex;
}
.name {
  font-size: 3rem;
}
