img{
    width: 10rem;
    /* height: 10rem;
    border-radius: 50%; */
}
header{
    background: radial-gradient(circle, black,white,gray,rgb(199, 195, 195));
    display: flex;
    align-items: center;
    gap: 2rem;
  /* height: 20vh; */
}
p{
    font-size: 4rem;
}

@media (max-width: 600px) {
p{
    font-size: 2rem;
}
}